<div id="demo-1" >

    <div class="demo-inner-content">

        <div style="position: absolute; top: 40px; left:80px; ">
            <img src="assets\images\logoo.gif" style="border-radius: 50%;" height="150px" width="150px">
        </div>
        <div class="header-top">

            <div class="search-box">


                <ul>
                    <li> <button type="button" class="btn btn-success" style="font-size: 1.5rem;"><a href="/">Home</a></button> </li>
                    
					<li> <button type="button" class="btn btn-success " style="font-size: 1.5rem;"><a href="\login"> Login</a> </button></li>


					<li> <button type="button" class="btn btn-warning" style="font-size: 1.5rem;"><a href="/register"> Register</a></button> </li>
                </ul>

            </div>

         
        </div>
        

    </div>


   

<div class="col-md-12 single-left text-center" >
    <img src="assets/images/ht.jpeg" style = "height:600px;width:600px;" >
       
    <div class="single-left2" style="text-decoration: 900px;">
       <h3>Thanks for Registering your hospital Name on out website !!!</h3>
        <ul class="com" style="background-color: rgb(230, 135, 233);">
     
            
        </ul>
       
        
    </div>
  
   
 
</div>
<div class="row" style="min-height: 200px;">

</div>
</div>
<div class="footer">
	<div class="container">

		<div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
			<h2><a href="#">Hospital Finder </a></h2>
		</div>

	</div>
</div>
